body 
{
    font-family: verdana, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 1%;
    font-size: 8pt;
}

.heading 
{
    color: #01348d;
    font-weight: bold;
    font-size: 10pt;
}

.subheading
{
    color: black;
    font-weight: bold;

}

.questionheading
{
    font-weight: bold;    
}

.question
{
    margin-left: 10px;
    font-style: italic;
}

.answerheading
{
    font-weight: bold;
}

.answer
{
    margin-left: 10px;
    font-style: italic;
}